<section class="py-5 bg-light">
  <div class="container text-center">
    <h2 class="fw-bold my-5 mb-2">Nuestra Trayectoria</h2>
    <div class="row mt-5">
      <div class="col-md-3 mb-4" data-aos="fade-up">
        <div class="p-3 bg-white shadow rounded default-height">
          <h3 class="text-primary fw-bold">{{ customers }}</h3>
          <p>Clientes <br>Satisfechos</p>
        </div>
      </div>
      <div class="col-md-3 mb-4" data-aos="fade-up" data-aos-delay="100">
        <div class="p-3 bg-white shadow rounded default-height">
          <h3 class="text-success fw-bold">{{ companies }}</h3>
          <p>Empresas Confían<br> en Nosotros</p>
        </div>
      </div>
      <div class="col-md-3 mb-4" data-aos="fade-up" data-aos-delay="200">
        <div class="p-3 bg-white shadow rounded default-height">
          <h3 class="text-danger fw-bold">{{ services }}</h3>
          <p>Servicios<br> Realizados</p>
        </div>
      </div>
      <div class="col-md-3 mb-4" data-aos="fade-up" data-aos-delay="300">
        <div class="p-3 bg-white shadow rounded default-height">
          <h3 class="text-warning fw-bold">{{ years }}</h3>
          <p>Años de <br> Experiencia</p>
        </div>
      </div>
    </div>
  </div>
</section>
