<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container sm-cont">
      <a class="navbar-brand" href="#">
        <div class=" col-md-3">
          <div class="logoContainer">
            <img src="images/Logo.png" alt="Logo" class="img-fluid">
          </div>
        </div>
      </a>
      <div>
        <a href="tel:{{numero}}" class="btn btn-primary py-3 btn-lg text-white buttonDefault">
          <i class="fa fa-phone" aria-hidden="true"></i>
        {{numero}}
        </a>
      </div>
    </div>
  </nav>
</div>
