<header class="hero">
  <h4 class="fs-1">Estamos <strong>trabajando 24/7</strong>, puedes llamarnos en cualquier momento <a href="tel:{{numero}}">{{numero}}</a></h4>
</header>
  <app-recommendations></app-recommendations>

<section class="container my-5">
  <div class="row align-items-center">

      <div class="container py-5">
        <div class="text-center mb-4">
            <h2 class="fw-bold">Sobre Nosotros</h2>
            <p class="text-muted fs-4">Comprometidos con la seguridad, eficiencia y satisfacción del cliente.</p>
        </div>

        <div class="row">
            <div class="">
                <h2 class="fw-bold">Nuestra Misión</h2>
                <p class="fs-5">Brindar servicios de grúas y traslado de vehículos con alta calidad y seguridad, contribuyendo al bienestar de la comunidad.</p>
            </div>
            <div class="">
                <h2 class="fw-bold">Nuestra Visión</h2>
                <p class="fs-5">Ser líderes en el sector, reconocidos por nuestra excelencia y confianza, siendo la primera opción para empresas y particulares.</p>
            </div>
        </div>

        <div class="mt-4">
            <h2 class="fw-bold">Nuestros Valores</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><p class="fs-5">🔹 <strong>Seguridad:</strong> Priorizamos la protección de nuestros clientes y empleados.</p></li>
                <li class="list-group-item"><p class="fs-5">🔹 <strong>Calidad:</strong> Ofrecemos un servicio rápido y eficiente ante cualquier emergencia.</p></li>
                <li class="list-group-item"><p class="fs-5">🔹 <strong>Innovación:</strong> Mejoramos continuamente con tecnología avanzada.</p></li>
                <li class="list-group-item"><p class="fs-5">🔹 <strong>Respeto:</strong> Atendemos con profesionalismo y cercanía.</p></li>
            </ul>
        </div>

        <div class="text-center mt-5">
            <p class="fw-bold">📍 Operamos en todo Chile</p>
            <p class="fw-bold">📞 Contáctanos para un servicio rápido, seguro y a precio justo.</p>
        </div>
    </div>
    </div>
    </section>
<section class="text-white hero flex-column text-center py-4">
  <h3 class="fs-1">Contáctenos en cualquier momento</h3>
  <div class="d-flex justify-content-center gap-3 mt-2 row">
    <a href="tel:{{numero}}" class="btn btn-primary gap-2 btn-lg text-white buttonDefault col-sm-12">
      <i class="fa fa-phone" aria-hidden="true"></i>
      LLámanos
      </a>
      <a href="{{whatsapp}}" target="_blank" class="btn gap-2 btn-success btn-lg text-white buttonDefault col-sm-12">
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
        WhatsApp
      </a>
      <a href="{{facebook}}" target="_blank" class="btn gap-2 btn-facebook btn-lg text-white buttonDefault col-sm-12">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        Facebook
      </a>
  </div>
</section>
