.BannerText{
  min-height: 640px;
  justify-content: center;
  align-items: center;
  display: flex
;
text-shadow: 2px 2px black;

  flex-direction: column;
}

h2{
  font-size: 2.75vw;
  letter-spacing: 0.05em;
  line-height: 1.25!important;
  font-weight: 600;
  text-shadow: 2px 2px black;
}
.highlight{
  background-color: #e41a1a;
  padding: 5px 5px 5px 5px;
  border-radius: 21px 21px 21px 21px;
}
@media (max-width: 769px){
h2{
  font-size: 4vw!important;
}
}
