<div class="container-fluid" >
  <div id="Banner">
    <img src="images/BANNER.jpg" class="img-fluid" alt="Banner">
  </div>
  <div class="container py-5 text-center BannerText">
    <div class="highlight mb-3">
  <h3 class=" text-white px-2" style="margin-bottom: 0!important;">CUALQUIER MEDIO DE PAGO</h3>
</div>
  <h2 class="my-2 text-white">Bienvenidos a G&S, Servicio<br> Rápido y Profesional</h2>
  <hr>
  <h5 class="mb-5 text-white">Somos una empresa altamente calificada en el servicio <br> de transporte y asistencia en ruta a automóviles y motocicletas.
  </h5>

  <div class="d-flex justify-content-center mt-3 gap-3">
      <a href="{{whatsapp}}" target="_blank" class="btn btn-success btn-lg text-white buttonDefault">
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
        WhatsApp
      </a>
      <a href="tel:{{numero}}" class="btn btn-primary btn-lg text-white buttonDefault">
        <i class="fa fa-phone" aria-hidden="true"></i>
        Llámanos, Clic acá
      </a>
    </div>
  </div>
  <app-servicios></app-servicios>
  <app-about-us></app-about-us>
</div>
