
<div class="bg-light">

    <div class="container text-center my-5">
        <h2 class="fw-bold fs-2 mb-2">Nuestros Servicios</h2>
        <p class="text-muted fs-5">
            Si tiene alguna duda o requerimiento especial, por favor <strong>contáctenos para<br> evaluar su caso</strong>,
            estaremos atentos a resolver todas sus dudas para <br><strong>entregarle la mejor propuesta</strong> según sus necesidades.
        </p>

        <div class="row row-cols-1 row-cols-md-4 g-4 mt-4">
            <div class="col">
                <div class="card p-4 shadow-sm">
                    <img src="images/iconos/vehiculo.png"  class="card-img-top mx-auto" alt="Transporte de Autos" style="width: 80px;">
                    <div class="card-body">
                        <h5 class="card-title">Traslado de Vehículos</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 shadow-sm">
                    <img src="images/iconos/motocicleta.png"  class="card-img-top mx-auto" alt="Transporte de Camionetas" style="width: 80px;">
                    <div class="card-body">
                        <h5 class="card-title">Traslado de Motocicletas</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 shadow-sm">
                    <img src="images/iconos/maquinaria.png" class="card-img-top mx-auto" alt="Transporte de Motos" style="width: 80px;">
                    <div class="card-body">
                        <h5 class="card-title">Traslado de maquinaria</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 shadow-sm">
                    <img src="images/iconos/fletes.jpg"  class="card-img-top mx-auto" alt="Transporte de SUV" style="width: 100px; scale: 1.35" >
                    <div class="card-body">
                        <h5 class="card-title">Fletes</h5>
                    </div>
                </div>
            </div>

        </div>

        <div class="mt-5">
            <h5>Solicita tu Asistencia</h5>
            <div class="d-flex justify-content-center gap-3 mt-2">
              <a href="tel:{{numero}}" class="btn btn-primary gap-2 btn-lg text-white buttonDefault">
                <i class="fa fa-phone" aria-hidden="true"></i>
                LLámanos
                </a>
                <a href="{{whatsapp}}" target="_blank" class="btn gap-2 btn-success btn-lg text-white buttonDefault">
                  <i class="fa fa-whatsapp" aria-hidden="true"></i>
                  WhatsApp
                </a>
            </div>
        </div>
    </div>

</div>

